body {
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  color: #000000;
  margin: 0;
  padding: 10px;
  background-color: #dddddd;
}

* {
  box-sizing: border-box;
}

.h1 {
  font-family: Roboto, sans-serif;
  font-size: 2.7rem;
}

.h2 {
  font-family: Roboto, sans-serif;
  font-size: 1.8rem;
}

a {
  color: #000000;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: color 0.5s, background-color 0.5s, text-decoration-color 0.5s;
}
a:hover {
  color: #00137F;
  text-decoration-color: #00137F;
  transition: color 0.5s, background-color 0.5s, text-decoration-color 0.5s;
}

.page-wrapper {
  display: flex;
  min-height: 100vh;
  min-width: 250px;
  flex-direction: column;
}

.header {
  justify-self: flex-start;
}

.main {
  flex-grow: 1;
}

.footer {
  justify-self: flex-end;
}

.header-body {
  text-align: center;
  background-color: #dddddd;
}
.header-body__container {
  display: flex;
  margin: 0 auto;
  max-width: 900px;
  padding: 0 16px;
  background-color: #f9f9f9;
  border: 1px solid #c0c0c0;
  border-radius: 20px 20px 0 0;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 16px;
}
.header-body__left {
  display: flex;
  align-items: center;
}
.header-body__right {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  padding: 16px 0;
  font-size: 1rem;
}
.logo__link {
  display: flex;
  align-items: center;
  color: #00137F;
  text-decoration: none;
}
.logo__link:hover {
  text-decoration: none;
}
.logo__image {
  height: 2.4em;
}
.logo__title {
  margin-left: 16px;
  font-size: 1.8em;
  font-weight: bold;
}

.main-menu {
  text-align: center;
  font-size: 1rem;
  background-color: #dddddd;
}
.main-menu__container {
  display: flex;
  margin: 0 auto;
  max-width: 900px;
  padding: 8px 16px;
  background-color: #f9f9f9;
  border-radius: 0 0 20px 20px;
  border: 1px solid #c0c0c0;
  border-top-width: 0;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 8px;
}
.main-menu__item {
  display: inline-block;
  padding: 8px 12px;
  color: #000000;
}
.main-menu__item:hover {
  color: #00137F;
  background-color: #e0e0e0;
  text-decoration-color: #00137F;
}

.main {
  display: flex;
  margin-top: 10px;
  background-color: #dddddd;
}
.main__container {
  margin: 0 auto;
  max-width: 900px;
  flex-grow: 1;
  background-color: #f9f9f9;
  border: 1px solid #c0c0c0;
  border-radius: 20px;
}

.article {
  margin: 1.2rem 16px;
}

.footer {
  display: flex;
  display: none;
  margin-top: 10px;
  background-color: #dddddd;
}
.footer__container {
  margin: 0 auto;
  max-width: 900px;
  flex-grow: 1;
  background-color: #f9f9f9;
  border: 1px solid #c0c0c0;
  border-radius: 20px;
}
.footer__row {
  display: flex;
  margin: 1em 16px;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 1em;
  row-gap: 1em;
  max-width: 900px;
  font-size: 0.9rem;
}
.footer__col-1 {
  flex-basis: 15%;
  flex-grow: 1;
}
.footer__col-1-title {
  margin-bottom: 1.5rem;
}
.footer__col {
  flex-basis: 15%;
  flex-grow: 1;
}
.footer__col-title {
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
.footer__col-list {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}
.footer__col-list > li {
  margin: 0.8em 0;
}
.footer__col-list > li:first-child {
  margin-top: 0;
}
.footer__col-list > li:last-child {
  margin-bottom: 0;
}

.comments-section {
  margin-top: 16px;
  border-top: 1px solid #c0c0c0;
}

.comments-block {
  margin: 16px 16px;
}

.comment-form {
  display: block;
}
.comment-form__text {
  margin-top: 8px;
}
.comment-form__date {
  margin-top: 8px;
}
.comment-form__submit {
  margin-top: 8px;
}

.comments-box {
  margin-top: 16px;
}

.comment {
  margin: 16px 0;
  padding: 10px;
  border: 1px solid #c0c0c0;
}
.comment__name {
  font-weight: bold;
}
.comment__text {
  margin-top: 8px;
}
.comment__date {
  margin-top: 8px;
  font-size: 0.9em;
  color: gray;
}
.comment__menu {
  display: flex;
  margin-top: 8px;
  align-items: center;
  column-gap: 10px;
}
.comment__menu-item {
  width: 20px;
  height: 20px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.comment__menu-item:hover {
  cursor: pointer;
}
.comment__menu-item--del {
  background-image: url("../images/icon-trash.svg");
}
.comment__menu-item--like {
  background-image: url("../images/icon-heart.svg");
}
.comment__menu-item--like-liked {
  background-image: url("../images/icon-heart-red.svg");
}

.input-text {
  display: block;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  padding: 0.5em;
  color: black;
  background-color: white;
  border: 1px solid #c0c0c0;
  outline: none;
  transition: border-color 0.5s;
}
.input-text:focus {
  border-color: #00137F;
  outline: none;
  transition: border-color 0.5s;
}
.input-text:focus::placeholder {
  opacity: 0;
}
.input-text--error {
  border-color: red;
}

.textarea {
  display: block;
  width: 100%;
  min-height: 2.2rem;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  padding: 0.5em;
  color: black;
  background-color: white;
  border: 1px solid #c0c0c0;
  outline: none;
  transition: border-color 0.5s;
  resize: vertical;
}
.textarea:focus {
  border-color: #00137F;
  outline: none;
  transition: border-color 0.5s;
}
.textarea:focus::placeholder {
  opacity: 0;
}
.textarea--error {
  border-color: red;
}

.input-msgerror {
  padding: 0.2em;
  font-size: 0.8em;
  color: red;
}

.button {
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  padding: 0.4em 0.7em;
  background-color: #e0e0e0;
  border: 1px solid #c0c0c0;
  transition: background-color 0.5s, border-color 0.5s;
}
.button:hover {
  background-color: #efefef;
  border-color: #00137F;
  cursor: pointer;
  transition: background-color 0.5s, border-color 0.5s;
}